﻿@model IEnumerable<Inventory.Models.ItemModel>

@{
    ViewBag.Title = "Inventory";
}

<h2>Inventory</h2>
<div>
<form asp-controller="Inventory" asp-action="CatgegoryInventory">
    <select id="cat" name="cat">
        <option value="Jedzenie">Jedzenie</option>
        <option value="Chemia">Chemia</option>
    </select>
    <input type="submit" class="btn btn-success btn-lg" asp-area="" asp-controller="Inventory" asp-action="CatgegoryInventory" asp-route-cat="category" "/>
</form>
 </div>

<table class="table ">
    @foreach (var item in Model)
    {
        <div class="col-sm-10 col-md-5 col-lg-3 special-margin-top user-box">
            <h4 class="bg-warning">category:   @Html.DisplayFor(modelItem => item.category)</h4>
            <p class="bg-info">itemname:   @Html.DisplayFor(modelItem => item.itemname)</p>
            <p class="bg-info">description:   @Html.DisplayFor(modelItem => item.description)</p>
            <p class="bg-info">buyprice:   @Html.DisplayFor(modelItem => item.buyprice)</p>
            <p class="bg-info">sellprice:   @Html.DisplayFor(modelItem => item.sellprice)</p>
            <p class="bg-info">added:   @Html.DisplayFor(modelItem => item.added)</p>
            <p class="bg-info">expirationdate:   @Html.DisplayFor(modelItem => item.expirationdate)</p>
        </div>
    }

</table>
