﻿@model IEnumerable<Inventory.Models.WykazModel>

@{
    ViewBag.Title = "Wykaz";
}

<h2>Wykaz</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deldate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deldate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
