﻿@model IEnumerable<Inventory.Models.UserModel>

@{
    ViewBag.Title = "Index";
}
<center>
    <h1>LogIn Page</h1>


  
    <hr />


    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="row special-margin-top">
            <form method="post"  action="Verify">
                <div class="mb-3">
                    <label class="form-label">Username</label>
                    <input type="text" id="username" name="username" class="form-control" placeholder="username">
                </div>
                <div class="mb-3">
                    <label class="form-label">Password</label>
                    <input type="password" id="password" name="password" class="form-control" placeholder="password">
                </div><br />
                <input class="btn btn-primary" type="submit" value="LogIn"  />
            </form>
        </div>
    </div>

   




   
</center>