﻿
@{
    ViewBag.Title = "User";
}

<h2>Menu</h2>
<div class="menu_button">
    <form asp-controller="User" asp-action="MenuChoice">
        <div class="menu_button">
            <button type="submit" id="idt" name="idt" value="1" class="btn btn-success btn-lg  btn-block" asp-area="" asp-controller="User" asp-action="MenuChoice">Edit Base</button>
        </div><br />
        <div class="menu_button">
            <button type="submit" id="idt" name="idt" value="2" class="btn btn-success btn-lg btn-block" asp-area="" asp-controller="User" asp-action="MenuChoice">View Base</button>
        </div><br />
        <div class="menu_button">
            <button type="submit" id="idt" name="idt" value="3" class="btn btn-success btn-lg btn-block" asp-area="" asp-controller="User" asp-action="MenuChoice">Summary</button>
        </div>     <br />
    </form>
</div>