﻿
@{
    ViewBag.Title = "AddView";
}

<h2>AddView</h2>

<form method="post" action="AddItem">
    <label for="itemname">Item name:</label><br>
    <input type="text" id="itemname" name="itemname"><br>
    <label for="description">Description:</label><br>
    <input type="text" id="description" name="description"><br>
    <label for="buyprice">Buy price:</label><br>
    <input type="number" id="buyprice" name="buyprice"><br>
    <label for="sellprice">Sell price:</label><br>
    <input type="number"  id="sellprice" name="sellprice"><br>
    <label for="expirationdate">Expiration date:</label><br>
    <input type="date" id="expirationdate" name="expirationdate"><br><br>
    <select id="category" name="category">
        <option value="Jedzenie">Jedzenie</option>
        <option value="Chemia">Chemia</option>
    </select> <br><br>
    <input type="submit" class="btn btn-success btn-lg" />
</form>