﻿@model IEnumerable<Inventory.Models.ItemModel>

@{
    ViewBag.Title = "ItemTable";
}

<h2>ItemTable</h2>

<p>
    <form asp-controller="AddDelete" action="AddView">
        <button type="submit" class="btn btn-success btn-lg">Add new Item</button>
    </form>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.itemname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.buyprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellprice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.added)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.expirationdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.category)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.itemname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.buyprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellprice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.added)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.expirationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.category)
        </td>
        <td>
            <form asp-controller="AddDelete" action="Delete">
                <button type="submit" id="itemid" name="itemid" value=@item.itemid class="btn btn-success btn-lg" asp-controller="AddDelete" action="Delete">Delete</button>
            </form>

        </td>
    </tr>
}

</table>
