﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Inventory</h1>
    <p class="lead">Manage your inventory.</p>
    <p><a href="/user/Index" class="btn btn-primary btn-lg">Log In &raquo;</a></p>
</div>


